/.project
/.settings/

/system-api/.classpath
/system-api/.project
/system-api/.settings/
/system-api/target/

/system-base/.classpath
/system-base/.project
/system-base/.settings/
/system-base/target/

/system-gateway/.classpath
/system-gateway/.project
/system-gateway/.settings/
/system-gateway/target/
/system-gateway/logs/

/system-service/.classpath
/system-service/.project
/system-service/.settings/
/system-service/target/
/system-service/logs/
